@font-face {
    font-family: Roboto;
    font-display: block;
    src: local('Roboto'), local('Roboto-Regular'), url('./fonts/Roboto.woff2') format('woff2'),
        url('./fonts/Roboto.woff') format('woff');
    unicode-range: U+000-5FF;
}
