.header {
    padding: 1rem 0 3rem;
}

.title {
    color: black;
    font-size: 3rem;
    text-decoration: none;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    color: $light-grey;
    font-size: 0.9rem;
    margin-right: 1.3rem;
    text-decoration: none;
}

.nav-item:hover {
    color: $grey;
}

.active-nav-item {
    color: $dark-grey;
}
